.header {
  position: absolute;
  width: 375px;
  height: 79px;
  left: 0px;
  top: 0px;
  background: #14213D;
}

/*ロゴ_MotoRin_*/
.header-logo {
  position: absolute;
  width: 107px;
  height: 58px;
  left: 0px;
  top: 10px;
  background: url(ロゴ_MotoRin_2.png);
}

.main {

}

.footer {

}

.Start {
  position: absolute;
  width: 104px;
  height: 56px;
  left: 135px;
  top: 748px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 56px;
  color: #FFFFFF;
}

.start-btn {
  position: absolute;
  width: 197px;
  height: 58px;
  left: 89px;
  top: 747px;
  background: #14213D;
  border-radius: 24px;
}
